#SearchHeader {
  padding: 20px;
  background: #ddd;
}

#SearchHeader input {
  padding: 10px;
  border: none;
  width: 400px;
  max-width: calc(100% - 20px);
  display: block;
  background: #eee;
  transition: background 0.2s ease-in;
}

#SearchHeader input:focus {
  background: #fff;
  outline: none;
}
